<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<!-- Barra de navegación-->
<header>
    <nav>
        <a href="/"><span>Inicio</span></a>
        <a href="/about"><span>About</span></a>
        <a href="/register"><span>Registro</span></a>
        <a href="/login"><span>Login</span></a>
    </nav>
</header>
<body>
    {% block body %}{% endblock %}
</body>
</html>